
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Top</title>
</head>
<body>
    <div class="nav navbar-inverse navbar-fixed-top">
        仓储管理系统
    </div>
    
</body>
</html>
